.image-holder {
  position:relative;
  overflow: hidden;
}
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: all .3s linear;
}
/* .image-holder:hover:before { 
  background: none;
} */

.image-holder-active:before { 
  background: none;
}

#timer-button {
    width: 8em;
}

@media only screen and (orientation:portrait) {
  body {
    background-color: skyblue;
  }
  .title-text-top {
    font-size: 8vw;
  }
  .title-text-bot {
    font-size: 6vw;
  }
  #timer-text {
    font-size: 20vw;
  }
}